<%= form_for article do |f| %>
  <% if @article.image_id.present?%>
    <div class="form-group padding-top15">
    </div>
  <% else %>
    <div class="form-group padding-top15">
      <%= image_tag 'no-image.png',class: 'article-image' %>
  </div>
  <% end %>
  <%= f.attachment_field :image %>

  <div class="form-group padding-top15">
    <%= f.label :title, '場所' %>
    <%= f.text_field :title, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :body, '詳細' %>
    <%= f.text_area :body, rows: 3, class: 'form-control' %>
  </div>
    <%= f.submit '送信', class: 'btn btn-success' %>
<% end %>