<!DOCTYPE html>
<html lang="ja">
  <head>
    <title>Miniapp3</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <a class="text-title" href="/">Cyclist Beautiful scenery</a>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
    <div class="botn">
      <%= link_to '新規作成', new_article_path, class: 'margin-top-3per btn btn-success'%>
    </div>
    <%= yield %>
  </body>
</html>
